[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

"flake8" = "*"
sphinx = "*"
pytest = "*"
pytest-runner = "*"
tox = "*"
coverage = "*"
factory-boy = "*"
ipdb = "*"


[packages]

falcon = "*"
gunicorn = "*"
peewee = "*"
